html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Arial, sans-serif;
  color: white;
}

header {
  width: 100%;
  background-color: #a52a2a;
  color:white;
  text-align: center;
  padding: .2rem;
  font-size: 1rem;
  font-weight: bold;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: .2rem;
  padding: 2rem;
  justify-items: center;
}

.movieCard {
  justify-items: center;
  background-color: #333;
  border-radius: 10px;
  border: 3px solid whitesmoke;
  max-width: 300px;
}

.movieTitleCard {
 text-align: center;
}

.movieTitleCard img {
  width: 280px;
  height: 280px;
  border: 1px solid black;
  border-radius: 20px;
  margin: .5rem;
}

.movieBodyCard{
  text-align: center;
  padding: 1rem;
}

.movieBodyCard ul {
  margin: 0;
  margin: 0 auto;       
  padding: 0;           
  text-align: center;
  list-style-type: none;
}

footer {
  width: 100%;
  background-color: #a52a2a;
  color:white;
  text-align: center;
  padding: .2rem;
  font-size: .8rem;
}